<head>
  <title>immoLLusque</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">

 <!-- Compiled and minified JavaScript -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>

</head>

<body>
  <div class="container">
    <!-- Navbar goes here -->

<!-- Page Layout here -->
<div class="row ">

  <div class="col s10 m10 l10  offset-s2"> <!-- Note that "m4 l3" was added -->
    <div class="center-align">

    {{> Template.dynamic template=page }}
  </div>
    </div>
  </div>
</div>
</body>
